body {
    background-color: beige;
}
form {

    font-size: 25px;
    font-family: "Open Sans",  sans-serif;
    font-weight: 100;
    color: black; 
    padding-left: 300px;
    margin-top: 20px;
    margin: 70px;
    padding-bottom: 40px;
}

aside h1 {
    font-family: "Open Sans",  sans-serif ;
    font-size: 25xp;
    font-weight: 100;

}
.mensaje label
{

    padding-bottom: 20px;
}