body {font-family: "Open Sans",  sans-serif;
font-size: 16px;
line-height: 20px;
background-color: beige;
}
header {
background-color: rgb(180, 144, 144);
padding: 0.05em 0;
margin-bottom: 0.5px;

}

header img {

margin-top: 10px;
margin-bottom: 0px;

}

header img+h1 {

padding-left: 10px;
}

header h1 {
 color: white;
 font-size: 30px;
 font-style: italic;
 font-weight: 100;
 display: inline-block;
 position:relative

}
nav {
 margin-bottom: 2em;
 background-color: #757575;
}

/**color lila viejo por si lo necesito #beabb4**/

nav ul {
    list-style: none;
    margin: 5px;
    padding: 10px;

}

nav ul li {

display: inline-block;
width: 16.3%;

}

nav ul li a {

    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.1em 0.3em;
    margin-left: 20px;
    margin-right: 20px;

}


nav ul li a:hover {
    background-color: rgb(0,0,0,0,0.3);


}

footer {
    background-color: #757575;
    clear: both;
    color: white;
    padding: 0.01em 0;
    margin-top: 0.01em;
    text-align: center
}

.bienvenidos {
font-family: "Open Sans", sans-serif;
padding: 10px;
text-align: center
}

.bienvenidos p {

    padding-left: 10px;
    padding-right: 10px;
    text-align:justify
}

.testimonios {
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    text-align: center;
  background-color: pink;
}
